[user]
    name = sharpchen
    email = rui.chen.sharp@gmail.com
[init]
    defaultBranch = main
[url "git@github.com:"]
    insteadOf = https://github.com/
[pull]
    rebase = true
[includeIf "gitdir:C:/**"]
    path = ~/.gitconfig_windows
[includeIf "gitdir:D:/**"]
    path = ~/.gitconfig_windows
