[user]
    name = sharpchen
    email = rui.chen.sharp@gmail.com
[init]
    defaultBranch = main
[alias]
    lg = log --oneline --graph --decorate --date=iso
    sh = show --date=iso
    df = diff -w --word-diff=color --ignore-space-at-eol
    cat = cat-file -p
    bs = bisect
    cp = cherry-pick
    ck = checkout
    mod = submodule
    open = "!gio open $(git remote get-url origin | sed -E \"s|git@([^:]+):|https://\\1/|; s|\\.git$||\")"
[url "git@github.com:"]
    insteadOf = https://github.com/
[pull]
    rebase = true
[includeIf "gitdir:C:/**"]
    path = ~/.windows.gitconfig
[includeIf "gitdir:D:/**"]
    path = ~/.windows.gitconfig
[rebase]
    autoStash = true ; stash all local changes if exists on rebasing
[diff]
    context = 3
    renames = copies
    interHunkContext = 10
; TODO
; [commit]
;     gpgSign = true
; [gpg]
;     format = ssh
; [tag]
;   gpgSign = true
