source ~/.vimrc
set ideajoin
set surround
set NERDTree
set commentary
set highlightedyank
set mini-ai
" requires plug Vim Peekaboo
set peekaboo
" requires plug Which-Key
set which-key
set trackactionids
" <C-j> is handled by ide and cannot change its behavior,
" so we should let ide handle <C-k> too just to keep it symmetric
" see https://github.com/JetBrains/ideavim/discussions/896#discussioncomment-9654220
sethandler <C-k> a:ide

" ide actions can't be mapped by noremap
nmap <M-CR> <Action>(ToggleFullScreen)
nmap <C-M-CR> <Action>(ToggleDistractionFreeMode)
nmap <leader>k <Action>(ReformatCode)
nmap <leader>ca <Action>(ShowIntentionActions)
nmap <F2> <Action>(RenameElement)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fg <Action>(FindInPath)
nmap <leader>b <Action>(ToggleLineBreakpoint)
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
" requires plug FastPeek
nnoremap gp :action com.github.vsuhanov.fastpeek.peek<CR>

command! Tai set trackactionids!

nnoremap <leader>s "zyiw:%s/\<<C-r>z\>/<C-r>z/g<left><left>
cnoremap <C-v> <C-r>+
xnoremap <leader>s "zy:%s/\V<C-r>z/<C-r>z/gI<Left><Left><Left>
nnoremap <leader>S "zyiw:%s/\<<C-r>z\>//gI<Left><Left><Left>
xnoremap <leader>S "zy:%s/\V<C-r>z//gI<Left><Left><Left>
" nnoremap <leader>so :source ~/.ideavimrc<CR>
nnoremap <leader>t :NERDTreeToggle<CR>
inoremap <C-v> <Esc>"+pa
nnoremap <leader>a ggVG
nnoremap n nzzzv
nnoremap N Nzzzv
nnoremap <silent> <leader>a ggVG
xnoremap <Tab> $%
nnoremap <Tab> %
