set editing-mode vi
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"
set keyseq-timeout 200

set keymap vi-command
"gh": beginning-of-line
"gl": end-of-line
"ciw": "lbcw"
"diw": "lbdw"
"  ": "lbdw"
"yiw": "lbyw"
"ciW": "lBcW"
"diW": "lBdW"
"yiW": "lByW"
" z": "I$(\eA)\e"
" Z": "i$(\eA)\e"
"\C-I": "%"
"\e[A": history-search-backward
"\e[B": history-search-forward
"k": history-search-backward
"j": history-search-forward

set keymap vi-insert
"\e[A": history-search-backward
"\e[B": history-search-forward
