toggle_fullscreen <A-<return>>
zoom_in <C-=>
zoom_out <C-->
next_chapter <A-.>
prev_chapter <A-,>
enter_visual_mark_mode i
goto_definition gd
keyboard_select v
goto_next_highlight hj
goto_prev_highlight hk
copy y
goto_mark(`) zz
open_document_embedded_from_current_path <space>fb
open_prev_doc <space>fo
toggle_two_page_mode <space>b
[m]control_menu(down) <C-j>
[m]control_menu(up) <C-k>
screen_up u
screen_down d
move_down_smooth j
move_up_smooth k
regex_search /
