# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [1, 4, 3]
sort_by = "alphabetical"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
sort_translit = false
linemode = "none"
show_hidden = true
show_symlink = true
scrolloff = 5
mouse_events = ["click", "scroll"]
title_format = "Yazi: {cwd}"

[preview]
wrap = "no"
tab_size = 2
max_width = 600
max_height = 900
cache_dir = ""
image_delay = 30
image_filter = "triangle"
image_quality = 75
sixel_fraction = 15
ueberzug_scale = 1
ueberzug_offset = [0, 0, 0, 0]

[opener]
edit = [
    { run = 'nvim --clean -c "source ~/.vimrc" %s', block = true, for = "unix" },
    { run = 'nvim --clean -c "source ~/.vimrc" %s', block = true, orphan = true, for = "windows" },
]
open = [
    { run = 'gio open "$1"', desc = "Open", for = "linux" },
    { run = 'open %s', desc = "Open", for = "macos" },
    { run = 'start "" "%1"', orphan = true, desc = "Open", for = "windows" },
]
reveal = [
    { run = 'gio open "$(dirname "$1")"', desc = "Reveal", for = "linux" },
    { run = 'open -R "$1"', desc = "Reveal", for = "macos" },
    { run = 'explorer /select,"%1"', orphan = true, desc = "Reveal", for = "windows" },
    { run = '''exiftool "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show EXIF", for = "unix" },
]
extract = [
    { run = 'ya pub extract --list %s', desc = "Extract here", for = "unix" },
    { run = 'ya pub extract --list %s', desc = "Extract here", for = "windows" },
]
play = [
    { run = 'mpv --force-window %s', orphan = true, for = "unix" },
    { run = 'mpv --force-window %s', orphan = true, for = "windows" },
    { run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]

[open]
rules = [
    # Folder
    { url = "*/", use = [
        "open",
        "reveal",
    ] },
    # Text
    { mime = "text/*", use = [
        "edit",
        "reveal",
    ] },
    # Image
    { mime = "image/*", use = [
        "open",
        "reveal",
    ] },
    # Media
    { mime = "{audio,video}/*", use = [
        "play",
        "reveal",
    ] },
    # Archive
    { mime = "application/{,g}zip", use = [
        "extract",
        "reveal",
    ] },
    { mime = "application/x-{tar,bzip*,7z-compressed,xz,rar}", use = [
        "extract",
        "reveal",
    ] },
    # JSON
    { mime = "application/{json,x-ndjson}", use = [
        "edit",
        "reveal",
    ] },
    { mime = "*/javascript", use = [
        "edit",
        "reveal",
    ] },
    # Empty file
    { mime = "inode/x-empty", use = [
        "edit",
        "reveal",
    ] },
    # Fallback
    { url = "*", use = [
        "open",
        "reveal",
    ] },
]

[tasks]
micro_workers = 10
macro_workers = 25
bizarre_retry = 5
image_alloc = 536870912  # 512MB
image_bound = [0, 0]
suppress_preload = false

[plugin]

prepend_previewers = [
    { url = "*.csv", run = "rich-preview" },
    { url = "*.md", run = "rich-preview" },
    { url = "*.rst", run = "rich-preview" },
    { url = "*.ipynb", run = "rich-preview" },
]

fetchers = [
    { id = "mime", url = "*", run = "mime.local", if = "!mime", prio = "high" },
    { id = "mime", url = "*/", run = "mime.dir", if = "!mime", prio = "high" },
]
preloaders = [
    { mime = "image/{avif,hei?,jxl}", run = "magick" },
    { mime = "image/*", run = "image" },
    { mime = "video/*", run = "video" },
    { mime = "application/pdf", run = "pdf" },
    { mime = "font/*", run = "font" },
    { mime = "application/vnd.ms-opentype", run = "font" },
]
previewers = [
    { url = "*/", run = "folder", sync = true },
    { mime = "text/*", run = "code" },
    { mime = "*/{xml,javascript,x-wine-extension-ini}", run = "code" },
    { mime = "application/{json,x-ndjson}", run = "json" },

    { mime = "image/*", run = "image" },
    { mime = "image/{svg+xml}", run = "svg" },
    { mime = "image/{avif,hei?,jxl,svg+xml}", run = "magick" },

    { mime = "video/*", run = "video" },

    { mime = "application/pdf", run = "pdf" },

    { mime = "application/{,g}zip", run = "archive" },
    { mime = "application/x-{tar,bzip*,7z-compressed,xz,rar,iso9660-image}", run = "archive" },

    { mime = "font/*", run = "font" },
    { mime = "application/vnd.ms-opentype", run = "font" },

    { mime = "inode/x-empty", run = "empty" },
    { url = "*", run = "file" },
]

[input]
cursor_blink = true
